# Database Type: postgresql or sqlite
DB_TYPE=postgresql

# PostgreSQL Configuration Settings
DB_USER=postgres
DB_PASSWORD=your_secure_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=retail_warehouse

# AWS S3 Settings (Optional - Set USE_S3=True to ingest/store from cloud)
USE_S3=False
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=your_aws_region
S3_BUCKET=your_s3_bucket_name
S3_KEY=raw/Online Retail.csv
